<div id="profile-wrapper">
  <div class="page-header text-center">
    <h1>Hello, Dave!</h1>
  </div>
  <h3>Below you'll find information regarding your social impact portfolio</h3>

  <!-- <div class="row"> -->
  <!-- LOCAL INFORMATION -->
  <!-- <div class="col-sm-6"> -->
  <!-- <div class="well"> -->
  <!-- <h3><span class="fa fa-user"></span> Local</h3> -->
  <!-- <p> -->
  <!-- <strong>id</strong> {{userData.id}}<br> -->
  <!-- <strong>email</strong> {{userData.email}}<br> -->
  <!-- </p> -->
  <!-- </div> -->
  <!-- </div> -->
  <!-- </div> -->
  <!-- <app-test-component></app-test-component> -->
  <app-statistics></app-statistics>
  <app-history></app-history>
  <app-feedback></app-feedback>
  <app-tweets></app-tweets>

</div>
