<ngx-timeline [events]="previousDonations">
  <ng-template let-event let-index="rowIndex" timelineHeader>
    Donated €{{event.donation}} to {{event.charityName}}
  </ng-template>
  <ng-template let-event let-index="rowIndex" timelineBody>
    ({{event.donationDate.getUTCDate()}}-{{event.donationDate.getUTCMonth() + 1}}-{{event.donationDate.getUTCFullYear()}})
  </ng-template>
  <ng-template let-event let-index="rowIndex" timelineFooter>
    <a routerLink="../projects/1">Link to Project</a>
  </ng-template>
</ngx-timeline>
