<h1>Statistics</h1>

<mat-grid-list cols="3" rowHeight="2:1">
    <h4>Total Spent: €{{moneyDonated}}</h4>
    <mat-grid-tile>
      <canvas
        baseChart
        [chartType]="'bar'"
        [datasets]="volunteersTrained">
      </canvas>
    </mat-grid-tile>
    <mat-grid-tile>
      <canvas
        baseChart
        [chartType]="'doughnut'"
        [data]="resourcesGathered"
        [labels]="resourcesGatheredLabels">
      </canvas>
    </mat-grid-tile>
    <mat-grid-tile>
      <canvas
        baseChart
        [chartType]="'bar'"
        [datasets]="pandasSaved">
      </canvas>
    </mat-grid-tile>
  </mat-grid-list>
  <hr>
