.headline {
  position: relative;
  overflow: hidden;
  height: 600px;
}

.headline::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #000 100%);
  margin-top: -700px;
  height: 450px;
  width: 100%;
  content: '';
}

.headline img {
  min-width: 100%;
}

.bottom-left {
  position: absolute;
  bottom: 0px;
  margin: 0 auto;
  color: white
}

.container p {
  margin-top: 20px;
}

h1 {
  font-size: 50px;
  font-weight: 800;
  z-index: 2;
  margin: 20px;
  font-family: 'Raleway', sans-serif;
  color: #0797a6;
}

p {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  line-height: 32px;
  margin: 0 0 24px;
}

a {
  color: #c8c8c8;
  text-decoration: underline;
}

a:hover {
  color: #1c1c1c;
  text-decoration: underline;
}
