.example-card {
  border: 1px black solid;
  width: 400px;
  height: 580px;
}

mat-card {
  margin: 10px;
}

mat-card-header {
  height: 100px;
}

mat-card-content {
  height: 180px;
}

.fade {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.fade:hover {
  opacity: 0.9;
  background: rgb(116, 212, 241);
  /* color: white; */
  cursor: pointer;
}
