.example-card {
  border: 1px black solid;
  width: 400px;
  height: 580px;
}

mat-card {
  margin: 10px;
}

mat-card-header {
  height: 100px;
}

mat-card-content {
  height: 180px;
}

.fade {
  opacity: 1;
  transition: opacity 5s ease-in-out;
  -moz-transition: opacity 5s ease-in-out;
  -webkit-transition: opacity 5s ease-in-out;
}

.fade:hover {
  opacity: 0.9;
  background: rgb(255, 221, 90, 0.40);
  /* color: white; */
  cursor: pointer;
}

/* 255, 221, 90 yellow */
/* 0, 16, 255, 0.40 blue */